<h3>Users list</h3>

<table>
<tr><th>Name</th><th>Age</th></tr>
{{#each users}}
<tr>
	<td>{{name}}</td>
	<td>{{age}}</td>
</tr>
{{/each}}
</table>


<h3>Products list</h3>

<table>
<tr><th>Name</th><th>Color</th><th>Price</th></tr>
{{#each products}}
<tr>
        <td>{{name}}</td>
	<td>{{color}}</td>
        <td>{{price}}</td>
</tr>
{{/each}}
</table>


